/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
  background-color: #eae2b7;
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
   /* box-sizing: border-box; */
   margin-left: 200px;
   margin-top: 40px;
   margin-right: 0px;
}

/* Headings */
h1,
h2,
h3 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;
}

h2, h3, hr {
  width: 50%;
  align-items: left;
  margin-left: 0px;
}

/* Header */
header {
  text-align: center;
}

/* Containers */
div {
  background-color: #eae2b7;
  margin: auto;
  width: 600px;
}

article {
  padding: 50px 0;
}

article div {
  text-align: center;
  width: 100%;
}

article div p{
  text-align: center;
  width: 100%;
  font-size: 14px;
}

/* Paragraphs */
p {
  line-height: 1.5;
  text-align: left;
}

/* Links */
a:link {
  color: #d62828;
}

a:hover {
  color: #f77f00;
}

nav a {
  /*padding-left: 20px;*/
  display: flexbox;
  vertical-align: center;
  align-items: left;
  margin: 20px;
  padding-top: 10px;
}

/* Images */
img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.image-circle {
  border: 2px solid #003049;
  border-radius: 50%;
}

/* Footer */
footer {
  text-align: center;
}



/* Other page elements */
hr {
  border: 1px solid black;
}

.header-container {
  vertical-align: top;
  text-align: center;
  display: flex;
}

.parent {
  margin:0px;
  flex:1;
  text-align: center;
  display: flex;
  width: 50%;
}
.child {
  vertical-align: top;
  flex:1;
}

.child ul {
  text-align: left;
}

.child-image-containter {

  justify-content: left;
  margin-top: 1rem;
  gap: 1rem;

  height: auto; 
  border: 0px;



}

.child-image-containter img {
 flex:1;
 padding-left: 5px;
 padding-right: 5px;
 margin-left: 5px;
 margin-right: 5px;
 max-width: 100%;
}

.child-image-containter h3 {
  justify-content: center;
  width: 100%;
}

.child-image {
  flex: 1;
  vertical-align: top;
  text-align: right;
  width: 100%;
  align-content: center;
  padding-right: 20px;
  margin-right: 20px;
}
